Add `Date` types to openapi (and conversions)

Much of the work I do involves time series

For these, date, and to a lesser extent, datetime parameters are very common.

It would be very useful to be able to supply `date` hints in the api definitions - e.g.

```
#* Get the stock prices
#* @param ticker:string The ticker
#* @param from:date The first date to include (inclusive)
#* @param to:date The last date to include (inclusive)
#* @get /prices
function(ticker, from, to) {
   # code here...
}
```

From https://swagger.io/docs/specification/data-models/data-types/#string this can be done using:

> ### String Formats
> An optional format modifier serves as a hint at the contents and format of the string. OpenAPI defines the following built-in string formats:
>  - date – full-date notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, 2017-07-21
>  - date-time – the date-time notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, 2017-07-21T17:32:28Z
>  - password – a hint to UIs to mask the input
>  - byte – base64-encoded characters, for example, U3dhZ2dlciByb2Nrcw==
>  - binary – binary data, used to describe files (see [Files](https://swagger.io/docs/specification/data-models/data-types/#file) below)



There's easy workarounds to this - date parameters can be cast from incoming strings inside the API functions.

Leaving this open for maintainers to decide if/when to implement. Happy for them to close it if required. 